.MessageData{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    /* background-image: url('https://mcdn.wallpapersafari.com/medium/27/32/jt4AoG.jpg'); */
    /* background-image: url('Screenshot 2024-08-24 133916.png'); */
    /* background-image: url('imagebackchat.png'); */
    background-image: url('8c98994518b575bfd8c949e91d20548b.jpg');
}
.MessageData-head{
    display: flex;
    background-color: rgb(237, 237, 237);
    text-align: center;
    height:4rem;
    padding: 10px;
    align-items: center;
    font-weight: 400;
    font-size: 23px;
    padding-left:25px;
    
}
.MessageData-head img{
    width:3rem;
    height:3rem;
    margin-right:20px;
}
.MessageData-type{
    /* background-color:rgb(227, 227, 227) ; */
    height:5rem; 
    padding: 10px;
    padding-bottom: 20px;

}
.MessageData-type input{
    height: 3rem;
    border-radius: 20px;
    padding-left:20px;
}
.MessageArea{
    display: flex;
    flex-direction: column;

    width:100%;
    height: 65vh;
    overflow-y: scroll;
}
.float-right{
    float:right;
}
.float-left{
    float:left;
}
.width-100{
   
    width:100%;
}
.width-80{
    width:80%;
}
.f-15{
    font-size:15px;
}
.date-divider{
    width:fit-content;
    margin:auto;
    padding:10px;
    padding-left:20px;
    padding-right:20px;
    background-color: rgb(254, 254, 220);
    color:rgb(75, 75, 75);
    border-radius: 15px;
    font-weight: 600;
}
.message-editoption{
    background-color: white;
    padding:10px;
    padding-left:20px;
    padding-right:20px;
}
.Messages-send {
    padding: 15px;
    max-width: 60%;
    width: fit-content;
    font-size: 18px;
    border-radius: 20px;
    margin: 10px;
    display: flex;
    align-items: center; /* Ensures all items are aligned in the center */
    justify-content: space-between; /* Ensures space between text and options */
}

.text-block {
    /* word-wrap: break-word;  */
    overflow-wrap: break-word;
    white-space: normal;
    text-align: left;
    white-space: normal; /* Allows the text to wrap to a new line when necessary */

    max-width: 90%; /* Adjust as needed to control the width */
}

.message-options {
    display: flex;
    align-items: center;
    margin-left: auto; /* Ensures options are pushed to the end */
}

.message-time {
    color: rgb(61, 61, 61);
    font-size: 12px;
    display: flex;
    align-items: center;
    margin-left:2px;
}
