.articles{
    margin-left:10vw;
}
.news{
    width:fit-content;
    height: fit-content;
    margin:20px;
}
.ArticleBlock{
    margin-top:6vh;
    padding-left:10vw;
    padding-bottom:10vw;
    /* background-color: rgb(208, 229, 255); */
    background-color:#F5F7FA;
}
.datablock{
    color:rgb(112, 112, 112);
    font-size: 14px;
    font-weight: 600;
}
.block{
    padding-right:10vw;
}
.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px; /* Adjust the gap between items */
  }
  
  .grid-item {
    padding: 15px; /* Padding inside each item */
    border-radius: 8px; /* Rounded corners */
    text-align: left;
  }
  
  .grid-item a {
    text-decoration: none;
    color: #333; /* Text color */
    font-weight: 500;
  }
  
  .grid-item a:hover {
    color: #007BFF; 
  }
  
  .news:hover{
    color: #007BFF; 

  }