.profile-bar{
    width:18vw;
    height: 85vh;
    background-color: rgb(252, 252, 252);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top:20px;
}
.backColor{
    background-color: rgb(252, 252, 252);

}
.butt-prof-bar{
    width:100%;
    text-align: left;
    padding-left: 30px;
    border-radius: 0px;
    font-size: 20px;
    display:flex;
    justify-content: space-between;
}
.butt-prof-bar:hover{
    background-color: rgb(236, 236, 236);
    border:0px;

}